body {
    padding: 0;
    margin: 0;
    color: white;
}

.startButton {
    border: none;
    box-shadow: none;
    cursor: pointer;
    font-family: inherit;
    outline: none;
    transition: all .25s ease;
    -webkit-transition: all .25s ease;
    -webkit-tap-highlight-color: transparent;
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.startButton:disabled {
    background: gray;
}

.buttonGradient {
    background: linear-gradient(96deg, #5a60ff, #b65aff 99.09%);
    border-radius: 8px;
    padding: 8px;
    color: white;
    font-size: 16px;
    width: 100%;
}

.scrollbar {
   scrollbar-gutter: stable;
}

.scrollbar::-webkit-scrollbar-thumb {
    background-image: linear-gradient(96deg, #5a60ff, #b65aff 99.09%);
    border-radius: 100px;
}

.scrollbar::-webkit-scrollbar {
    width: 10px;
}

.scrollbar::-webkit-scrollbar-track {
    background-color: #e4e4e4;
    border-radius: 100px;
}

.markers {
    margin: 0 0 0 24px;
    padding: 0;

}

.listTypeLightning {
     list-style-type: "⚡ ";
 }

.listTypeMark {
    list-style-type: "✓ ";
}
.markers li {
    margin: 2px 0;
    font-size: 12px;
}
